<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UnityContainer" value="Repository" />
    <!--
	<add key="eShop_Cart" value="REDIS-ENDPOINT" />
	-->
    <add key="eShop_Cart" value="localhost:6379" />
  </appSettings>
  <connectionStrings>
    <!--
	  <add name="ProductCatalog" connectionString="Data Source=SQL-PODIP; Initial Catalog=SQL-DATABASE-NAME; User Id=SQL-USERID; Password=SQL-PASSWORD; Persist Security Info=False;" providerName="System.Data.SqlClient" />
	  -->
    <add name="ProductCatalog" connectionString="Data Source=IBM-4Z9ZR34\SQLEXPRESS01; Initial Catalog=eShopOnline; User Id=sa; Password=IbmRajus202509$; Persist Security Info=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>