<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="eShop.Domain" />
  <assembly name="eShop.Repository.EntityFramework" />
  <assembly name="eShop.WebApi"/>

  <namespace name="eShop.Domain.ProductCatalog" />
  <namespace name="eShop.Domain.Cart" />
  <namespace name="eShop.Infrastructure.Logger" />
  <namespace name="eShop.Repository.EntityFramework.ProductCatalog" />
  <namespace name="eShop.Repository.EntityFramework.Cart" />
  <namespace name="eShop.WebApi.Logger" />
  <namespace name="eShop.WebApi" />

  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <typeAlias alias="hierarchical" type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity"/>
  </typeAliases>

  <containers>
    <container name="Repository">
      <register type="IProductRepository" mapTo="ProductRepository" >
        <lifetime type="transient" />
      </register>
      <register type="ICartRepository" mapTo="CartRepository">
        <lifetime type="transient" />
      </register>
      <register type="ProductDataContext">
        <lifetime type="hierarchical" />
      </register>
      <register type="AppSettings">
        <lifetime type="hierarchical" />
      </register>
    </container>
  </containers>
</unity>